SERVICE_CLUSTER_CIDR={{service_cluster_cidr}}
CLUSTER_CIDR={{cluster_cidr}}
CLUSTER_NAME={{cluster_name}}
SIGINING_KEY={{certs_dir}}/ca-key.pem
SIGINING_CAFILE={{certs_dir}}/ca.pem
TLS_CERTFILE={{certs_dir}}/kubernetes.pem
TLS_KEYFILE={{certs_dir}}/kubernetes-key.pem
ROOT_CAFILE={{certs_dir}}/ca.pem
ROOT_CA_KEY={{certs_dir}}/ca-key.pem
